<section id="clients_reviews" class="clients">
  <div class="container">
    <h2 class="clients-title">Clients reviews</h2>
    <ul class="clients-list">
      <li class="clients-item">
        <div class="info-wrap">
          <img
            srcset="/img/clients-reviews/clients.jpg 1x, /img/clients-reviews/clients-reviews-2x.jpg 2x"
            class="clients-pic"
            src="/img/clients-reviews/clients.jpg"
            alt="Alexandra dream"
            width="48"
            height="48"
          />
          <div class="text-wrap">
            <h3 class="clients-subtitle">Alexandra dream</h3>
            <p class="clients-info">1 week ago</p>
          </div>
        </div>
        <p class="clients-bio">
          I was blown away by the quality and craftsmanship of the furniture I
          received from this company. Each piece was unique and beautifully
          designed, and you can tell that a lot of thought and care goes into
          every detail.
        </p>
      </li>
      <li class="clients-item">
        <div class="info-wrap">
          <img
            srcset="/img/clients-reviews/clients-2.jpg 1x, /img/clients-reviews/clients-reviews-2-2x.jpg 2x"
            class="clients-pic"
            src="/img/clients-reviews/clients-2.jpg"
            alt="James Williams"
            width="48"
            height="48"
          />
          <div class="text-wrap">
            <h3 class="clients-subtitle">James Williams</h3>
            <p class="clients-info">A week ago</p>
          </div>
        </div>
        <p class="clients-bio">
          The "Minimal" furniture set is a fantastic addition to my home. It
          boasts a minimalist design, enhancing the feel and look of my living
          space. The sturdy construction is worth noting too, which speaks
          volumes about its durability.
        </p>
      </li>
      <li class="clients-item">
        <div class="info-wrap">
          <img
            srcset="/img/clients-reviews/clients-3.jpg 1x, /img/clients-reviews/clients-reviews-3-2x.jpg 2x"
            class="clients-pic"
            src="/img/clients-reviews/clients-3.jpg"
            alt="Emily Watson"
            width="48"
            height="48"
          />
          <div class="text-wrap">
            <h3 class="clients-subtitle">Emily Watson</h3>
            <p class="clients-info">3 week ago</p>
          </div>
        </div>
        <p class="clients-bio">
          The "Minimal" furniture set has far exceeded my expectations. The
          sleek design combined with the high-quality materials have not only
          added an exceptional aesthetic to my space but also offered an
          uncompromising standard of comfort.
        </p>
      </li>
    </ul>
  </div>
</section>