<div class="container clients">
    <section class="clients-section">
        <h2 class="clients-title">Clients reviews</h2>
        <ul class="clients-list">
            <li class="clients-item">
                <div class="info-wrap">
                    <img srcset="" class="clients-pic" src="/img/clients-reviews/clients.jpg" alt="Alexandra dream"
                        width="48" height="48" />
                    <div class="text-wrap">
                        <h3 class="clients-subtitle">Alexandra dream</h3>
                        <p class="clients-info">1 week ago</p>
                    </div>
                </div>
                <p class="clients-bio">
                    I was blown away by the quality and craftsmanship of the furniture I
                    received from this company. Each piece was unique and beautifully
                    designed, and you can tell that a lot of thought and care goes into
                    every detail.
                </p>
            </li>
            <li class="clients-item">
                <div class="info-wrap">
                    <img srcset="" class="clients-pic" src="/img/clients-reviews/clients-2.jpg" alt="Alexandra dream"
                        width="48" height="48" />
                    <div class="text-wrap">
                        <h3 class="clients-subtitle">Alexandra dream</h3>
                        <p class="clients-info">1 week ago</p>
                    </div>
                </div>
                <p class="clients-bio">
                    I was blown away by the quality and craftsmanship of the furniture I
                    received from this company. Each piece was unique and beautifully
                    designed, and you can tell that a lot of thought and care goes into
                    every detail.
                </p>
            </li>
            <li class="clients-item">
                <div class="info-wrap">
                    <img srcset="" class="clients-pic" src="/img/clients-reviews/clients-3.jpg" alt="Alexandra dream"
                        width="48" height="48" />
                    <div class="text-wrap">
                        <h3 class="clients-subtitle">Alexandra dream</h3>
                        <p class="clients-info">1 week ago</p>
                    </div>
                </div>
                <p class="clients-bio">
                    I was blown away by the quality and craftsmanship of the furniture I
                    received from this company. Each piece was unique and beautifully
                    designed, and you can tell that a lot of thought and care goes into
                    every detail.
                </p>
            </li>
        </ul>
    </section>
</div>

