<footer class="footer-page">
  <div class="container ftr-container">
    <!-- Logo -->
    <div class="footer-logo-icons">
      <div class="ftr-logo">
        <span
          ><a href="" class="media-icons"></a>
          <svg class="ftr-media" width="100" height="16">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </span>
      </div>

      <!-- Media Icons -->
      <ul class="ftr-media-list">
        <li class="list media-icons">
          <a
            href=""
            aria-label="Facebook"
            rel="noopener norefferrer"
            target="https://www.facebook.com/"
          ></a>
          <svg class="ftr-media" width="28" height="28">
            <use href="./img/icons.svg#fb"></use>
          </svg>
        </li>
        <li class="list media-icons">
          <a
            href=""
            aria-label="Instagram"
            rel="noopener norefferrer"
            target="https://www.instagram.com/"
          ></a>
          <svg class="ftr-media" width="28" height="28">
            <use href="./img/icons.svg#inst"></use>
          </svg>
        </li>
        <li class="list media-icons">
          <a
            href=""
            aria-label="Youtube"
            rel="noopener norefferrer"
            target="https://www.youtube.com/"
          ></a>
          <svg class="ftr-media" width="28" height="28">
            <use href="./img/icons.svg#youtube"></use>
          </svg>
        </li>
      </ul>
    </div>
    <!-- Nav Menu -->

    <ul class="ftr-nav-menu nav-text">
      <li class="list">
        <a
          href="/src/partials/about_us.html"
          class="ftr-link-menu"
          rel="noopener norefferrer"
          target="_blank">
          About us
        </a>
      </li>
      <li class="list">
        <a
          href="/src/partials/our_products.html"
          class="ftr-link-menu"
          rel="noopener norefferrer"
          target="_blank">
          Our products
        </a>
      </li>
      <li class="list">
        <a
          href="/src/partials/price.html"
          class="ftr-link-menu"
          rel="noopener norefferrer"
          target="_blank">
          Prices
        </a>
      </li>
      <li class="list">
        <a
          href="/src/partials/bestsellers.html"
          class="ftr-link-menu"
          rel="noopener norefferrer"
          target="_blank">
          Bestsellers
        </a>
      </li>
      <li class="list">
        <a
          href="/src/partials/clients_reviews.html"
          class="ftr-link-menu"
          rel="noopener norefferrer"
          target="_blank">
          Reviews
        </a>
      </li>
    </ul>

    <!-- Address -->
    <div class="ftr-address">
      <ul class="nav-text">
        <li class="list">
          <a
            href="https://goo.gl/maps/otmeh9LYeM7hSeMd6"
            class="link address-map">
            Obolonsky Prospect, 14, Kyiv</a>
        </li>
        <li class="list">Daily 10:00-21:00</li>
      </ul>
    </div>

    <!-- Contacts -->
    <div class="ftr-contacts">
      <ul class="nav-text">
        <li class="list"><a href="tel:+380669384758"></a>+380669384758</li>
        <li class="list phone-order">
          <a href="tel:+380679384758"></a>+380679384758
        </li>
        <li class="footer-email list">
          <a href="minimal.furniture@gmail.com"></a>minimal.furniture@gmail.com
        </li>
      </ul>
    </div>

    <!-- Terms of Service & Privacy Policy -->
    <div class="ftr-privacy-block">
      <p class="ftr-privacy ftr-privacy-text">
        By using this website, you agree to the
        <a href="" class="link privacy-link">Terms of Service</a> and
        <a href="" class="link privacy-link">Privacy Policy</a>
      </p>
    </div>
  </div>
</footer>
