<section id="our_products" class="products">
  <div class="container">
    <h2 class="products-header">Our Products</h2>
    <ul class="products-list list">
      <li class="products-item">
        <div class="products-card">
          <picture>
            <source
              srcset="
                ./img/our_products/product1.jpg    1x,
                ./img/our_products/product1-2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/our_products/product1-tab.jpg    1x,
                ./img/our_products/product1-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/our_products/product1-mob.jpg    1x,
                ./img/our_products/product1-mob-2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="./img/our_products/product1.jpg"
              alt="vooden minimalist
              storage"
              width="343"
              height="300"
            />
          </picture>

          <h3 class="products-description">Minimalist storage solutions</h3>
        </div>
      </li>
      <li class="products-item">
        <div class="products-card">
          <picture>
            <source
              srcset="
                ./img/our_products/product2.jpg    1x,
                ./img/our_products/product2-2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/our_products/product2-tab.jpg    1x,
                ./img/our_products/product2-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <img
              src="./img/our_products/product2.jpg"
              alt="blue sofa"
              width="312"
              height="300"
            />
          </picture>
          <h3 class="products-description">Handcrafted minimalist seating</h3>
        </div>
      </li>
      <li class="products-item">
        <div class="products-card">
          <picture>
            <source
              srcset="
                ./img/our_products/product3.jpg    1x,
                ./img/our_products/product3-2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <img
              src="./img/our_products/product3.jpg"
              alt="metal table"
              width="312"
              height="300"
            />
          </picture>
          <h3 class="products-description">Sleek and simple tables</h3>
        </div>
      </li>
      <li class="products-item">
        <div class="products-card">
          <picture>
            <source
              srcset="
                ./img/our_products/product4.jpg    1x,
                ./img/our_products/product4-2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <img
              src="./img/our_products/product4.jpg"
              alt="blue chair"
              width="312"
              height="300"
            />
          </picture>
          <h3 class="products-description">
            Minimalist seating for every space
          </h3>
        </div>
      </li>
    </ul>
  </div>
</section>
