.about-us {
  padding-bottom: 64px;
}

.about-us .container {
  padding: 0;
}
.about-us-content {
  padding: 64px 16px;
  background-color: var(--light-blue);
}
.about-us-title {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.about-us-title::before {
  content: '';
  display: block;
  height: 1px;
  width: 30px;
  background-color: var(--blue-font);
}
.about-us-subtitle {
  font-size: 26px;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.about-us-text {
  line-height: 1.5;
  margin-bottom: 30px;
}

.about-us-statistic-item:not(:last-child) {
  margin-bottom: 30px;
}
.about-us-statistic-number {
  text-align: center;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.about-us-statistic-item .about-us-text {
  text-align: center;
}

@media screen and (min-width: 375px) {
  .about-us-subtitle {
    font-size: 28px;
  }

  .about-us-statistic-number {
    font-size: 50px;
  }
}

@media screen and (min-width: 768px) {
  .about-us {
    padding-bottom: 100px;
  }
  .about-us .container {
    padding: 0 32px;
  }
  .about-us-content {
    padding: 36px 64px;
  }
  .about-us-subtitle {
    font-size: 32px;
    line-height: 140.625%;
  }
  .about-us-text {
    font-size: 18px;
  }

  .about-us-content {
    margin-bottom: 30px;
  }

  .about-us-statistic-list {
    display: flex;
    gap: 33px;
    align-items: center;
  }

  .about-us-statistic-item:not(:last-child) {
    margin-bottom: 0;
  }
  .about-us-statistic-item {
    width: calc((100% - 3 * 33px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .about-us .container {
    padding: 0 60px;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .about-us-content {
    margin-bottom: 0;
    padding: 36px 69px;
    max-width: 760px;
  }
  .about-us-statistic-item:nth-child(1) .about-us-statistic-number {
    margin-bottom: 23px;
  }
  .about-us-statistic-item:nth-child(2) .about-us-statistic-number {
    margin-bottom: 19px;
  }
  .about-us-statistic-item:nth-child(3) .about-us-statistic-number {
    margin-bottom: 20px;
  }
}
