.ftr-media {
    fill: rgba(255, 255, 255, 1);
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .ftr-logo-media {
    fill: rgba(255, 255, 255, 1);
  }


@media screen and (min-width: 375px) {
 .ftr-privacy-block {
    width: 343px;
 }
}
  
@media screen and (min-width: 768px) {
    .ftr-media {
        width: 40px;
        height: 40px;
    }

    .ftr-logo-media{
        width: 127px;
        height: 16px;
    }
}

.ftr-page {
    background-color: var(--blue-font);
}

.ftr-page .container {
    color: #fff;
    max-width: 375px;
    margin: 0 auto;
    padding: 36px 16px 16px 16px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .ftr-page .container {
        max-width: 768px;
        height: 462px;
        padding: 36px 32px;
    }
}

@media screen and (min-width: 1440px) {
    .ftr-page .container {
        max-width: 1440px;
        padding: 36px 60px;
        max-height: 262px;
    }
}

.ftr-media-list {
    display: flex;
    gap: 16px;
}

.logo-ftr-icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 28px;
    margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
    .logo-ftr-icons {
        height: 40px;
        align-items: center;
    }

    .ftr-contacts {
        position: absolute;
        top: 228px;
    }
}

@media screen and (min-width: 1440px) {
    .ftr-contacts {
        position: absolute;
        top: 103px;
        left: 395px;
    }
}

@media screen and (min-width: 1440px) {
    .ftr-contacts .ftr-address-text {
        flex-direction: row;
        width: 481px;
        height: 68px;
        flex-wrap: wrap;
        gap: 24px 82px;
        display: flex;
    }

    .phone-order {
        order: 2;
    }
}

.nav-text {
    color: var(--white, #fff);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.ftr-privacy-text {
    color: var(--white, #fff);
    opacity: 0.6;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.099em;
}

@media screen and (min-width: 768px) {
    .ftr-privacy-text {
        width: 616px;
        height: 20px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.074em;
    }
}

.privacy-link {
    text-decoration: underline;
    display: inline;
}

.ftr-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
    .ftr-nav-menu {
        position: absolute;
        top: 36px;
        right: 248px;
        font-size: 18px;
        margin: unset;
        padding: 6px;
        gap: 16px;
    }
}

@media screen and (min-width: 1440px) {
    .ftr-nav-menu {
        flex-direction: row;
        gap: 30px;
        left: 396px;
    }
}

.ftr-address {
    margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
    .ftr-address {
        margin-bottom: unset;
        position: absolute;
        top: 96px;
        left: 32px;
        font-size: 19px;
    }

    .ftr-address-text {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .ftr-address {
        left: 60px;
    }
}

.ftr-address-data {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 35px;
}

.ftr-contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 64px;
}

@media screen and (max-width: 767px) {
    .footer-email {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .ftr-privacy-block {
        position: absolute;
        height: 20px;
        bottom: 72px;
        left: -50%;
        transform: translateX(50%);
    }
}

@media screen and (min-width: 1440px) {
    .ftr-privacy-block {
        bottom: 36px;
        left: -50%;
        transform: translateX(50%);
    }
}

@media screen and (min-width: 768px) {
    .ftr-privacy-block {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 768px) {
    .ftr-privacy-block {
        width: 616px;
    }
}