body {
    font-family: 'Roboto', sans-serif;
    color: var(--blue_font);
    background-color: #FFFFFF;
    margin: 0;
}

:root {

    --blue_font: #0A224A;
    --background_1: #7A7A7A;
    --background_2: #B6B6B6;
    --background_3: #D9D9D9;
    --background: #FFF;
    --light_blue: #F7FAFF;
}

/* Reset */

.link {
    text-decoration: none;
    font-style: normal;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6, p {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
	font-family: inherit;
	color: currentColor;
}

ul, a {
    margin: 0;
    padding: 0;
}
span {
    padding: 0;
    margin: 0;
}

input {
	font-family: inherit;
}

/* Hidden preferenses */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* Footer */

.footer-page {
    border-top: 36px;
    padding-bottom: 16px;
    background-color: var(--blue_font);
}

.ftr-container {
    padding: 0 16px;
}

.logo-media-block {
    display: flex;
    flex-direction: row;
}

.logo-media {}

/* Logo & Media Icons */
.media-icons {
    fill: rgba(255, 255, 255, 1);   
}

.ftr-logo-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 36px;
}

.ftr-media-list {
    display: flex;
    gap: 16px;
}

/* Nav Menu */
.ftr-nav-menu:not(:last-child) {
    margin-bottom: 8px;
}

.ftr-nav-menu {
    margin-bottom: 36px;
}

.nav-text {
color: var(--white, #FFF);
font-size: 16px;
font-weight: 400;
line-height: 1.5em;
}

.nav-text:not(:last-child) {
    margin-bottom: 8px; 
}

/* Address */
.ftr-address {
    margin-bottom: 35px;   
}

/* Contacts */
.ftr-contacts {
    margin-bottom: 64px;
}

/* Terms of Service & Privacy Policy */
.ftr-privacy {
    display: inline-block   ;
    text-align: center;
    opacity: 0.6;
    color: var(--white, #FFF);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.188px;
}

.privacy-link {
    text-decoration-line: underline;
}