span {
    margin: 0;
    padding: 0;
}

/* Footer */

.ftr-container {
padding: 36px 16px 16px 16px;
display: flex;
flex-direction: column;
background-color: var(--blue-font);
height: 523px;
width: 375px;
color: var(#FFF);
justify-content: space-between;
}

.footer-page {
background-color: var(--blue-font);
width: 375px;
margin: 0 auto;
font-size: 16px;
}

@media screen and (min-width: 768px) {
    .footer-page {
        padding-top: 36px;
        padding-bottom: 36px;
        width: 768px;
    }
}

.logo-media-block {
    display: flex;
}

@media screen and (min-width: 768px) {
    .logo-media-block {
        justify-content: space-between;
    }
}

/* Logo & Media Icons */

.ftr-media {
    fill: rgba(255, 255, 255, 1);  
}

.ftr-media {
    margin-bottom: 42px;
}

.ftr-logo-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 36px;
}

.media {
    display: flex;
    gap: 16px;
}

.ftr-media-list {
    display: flex;
    gap: 16px;
}

/* Nav Menu */

.ftr-nav-menu {
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav-text {
color: var(--white, #FFF);
font-size: 16px;
font-weight: 400;
line-height: 1.5em;
}

.ftr-link-menu {
    cursor: pointer;
}

/* Address */
.ftr-address {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 35px;
}

/* Contacts */
.ftr-contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: auto;
}

/* Terms of Service & Privacy Policy */
.ftr-privacy {
    color: white;
}

.ftr-privacy-block {
    display: inline-block;
    padding-bottom: 16px;
    width: 343px;
    height: 28px;
}

.ftr-privacy-text {
opacity: 0.6;
color: var(--white, #FFF);
text-align: center;
font-size: 12px;
font-weight: 400;
line-height: 1.16em;
letter-spacing: 1.188px;
}

.privacy-link {
    text-decoration: underline;
}