span {
    margin: 0;
    padding: 0;
  }

p {
    padding: o;
    margin: 0;
}

.ftr-media {
    fill: rgba(255, 255, 255, 1);
    margin-top: 6px;
    margin-bottom: 6px;
  }

.ftr-page .container {
    background-color: var(--blue-font);
    color: #fff;
    max-width: 375px;
    margin: 0 auto;
    padding: 36px 16px 16px 16px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .ftr-page .container {
        max-width: 768px;
        padding: 36px 32px;
    }
}

@media screen and (min-width: 1440px) {
    .ftr-page .container {
        max-width: 1440px;
        padding: 36px 60px;
    }
}

.ftr-page {
    font-size: 16px;
    max-height: 462px;
}

.ftr-page .container {
    height: 523px;
}

.ftr-media-list {
    display: flex;
    gap: 16px;
}

.logo-ftr-icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (min-width: 768px) {
    .logo-ftr-icons {
        align-items: baseline;
    }

    .ftr-contacts {
        position: absolute;
        top: 228px;
    }
}

.nav-text {
    color: var(--white, #fff);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.ftr-privacy-text {
    color: var(--white, #fff);
    opacity: 0.6;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16em;
    letter-spacing: 0.099em;
    /* width: 343px;
    height: 28px; */
}

@media screen and (min-width: 768px) {
    .ftr-privacy-text {
        width: 616px;
        height: 20px;
    }
}

.privacy-link {
    text-decoration: underline;
    display: inline;
}

.ftr-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
    .ftr-nav-menu {
        position: absolute;
        top: 36px;
        right: 248px;
    }
}

.ftr-address {
    margin-bottom: 35px;
}

@media screen and (min-width: 768px) {

    .ftr-address {
        margin-bottom: unset;
        position: absolute;
        top: 96px;
        left: 32px;
    }
}

.ftr-address-data {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 35px;
}

.ftr-contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 64px;
}

@media screen and (max-width: 767px) {
    .footer-email {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .ftr-privacy-block {
        bottom: 36px;
        left: -50%;
        /* transform: translateX(50%); */
    }
}

@media screen and (min-width: 1440px) {
    .ftr-privacy-block {
        bottom: 36px;
        left: -50%;
        transform: translateX(50%);
    }
}

@media screen and (min-width: 768px) {
    .ftr-privacy-block {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.ftr-privacy {
    width: 343px;
}

@media screen and (min-width: 768px) {
    .ftr-privacy {
        width: 616px;
    }
}