.is-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  pointer-events: none;
}

.hidden {
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  top: -100px;
}

.header .container {
  max-width: 375px;
  padding: 0 16px;
  height: 88px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #f7faff;
}
main {
  margin-top: 88px;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
}

.header-navigation {
  display: none;
}

.logo-link {
  padding: 36px 0;
}

.close-menu-btn,
.mob-menu-open-btn {
  background-color: transparent;
  border: transparent;
  stroke: var(--blue-font);
}

.mob-menu {
  position: fixed;
  top: 88px;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  transition: 550ms ease-in-out;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 17px;
  justify-content: center;
  align-items: center;
  /* margin-top: 202px; */
  margin-top: 114px;
}
.mob-nav-link {
  color: var(--blue-font);
  font-size: 16px;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .header .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .logo {
    width: 127px;
    height: 16px;
  }
  .logo-link {
    padding: 40px 0;
  }
  .header-nav-link,
  .mob-nav-link {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .header .container {
    max-width: 1440px;
    padding: 0 60px;
  }
  .header-navigation {
    display: flex;
  }

  .mob-menu-open-btn,
  .mob-menu {
    display: none;
  }
  .header-nav-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0;
  }
  .header-nav-link {
    color: var(--blue-font);
    padding: 34px 0;
    position: relative;
  }

  .header-nav-link:hover:after {
    position: absolute;
    bottom: 5px;
    left: 2px;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--blue-font);
    border-radius: 2px;
  }
  .header-nav-link:is(:hover, :focus) {
    color: #061835;
  }
  .header-nav-item:is(:hover, :focus) {
    transform: scale(1.1);
  }
  .logo-link {
    padding: 34px 0;
  }
}
