/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about_us.css');
@import url('./price.css');
@import url('./our_products.css');
@import url('./bestsellers.css');
@import url('./clients_reviews.css');
@import url('./subscription.css');
@import url('./footer.css');

body {
  font-family: 'Roboto', sans-serif;
  color: #0a224a;
  background-color: #fff;
}

:root {
  --blue-font: #0a224a;
  --background_1: #7a7a7a;
  --background_2: #b6b6b6;
  --background_3: #d9d9d9;
  --light-blue: #f7faff;

  /* font-size: 18px;
  line-height: 24px;
  font-weight: 400; */
  /* color: #242424;
  background-color: rgba(255, 255, 255, 0.87); */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
  outline: 2px dashed green;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 60px;
    max-width: 1440px;
  }
}
